<div class="d-flex">
  <!--Sidebar-->
  <app-sidebar></app-sidebar>
   <!--End Sidebar-->

  <!--Modulo relacionado a los gifs-->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gif....." />
      </div>
    </div>
    <hr class="text-black" />

    <div class="row">
      <div class="col">
       texto de prueba uno 
      </div>
    </div>

  </div>
  <!--Fin de modulo gifs-->

</div>
